<div class="row">
  <div class="col">
    <span class="text-success">
      <%= number_to_currency(dollar_amount(plan.amount_in_cents)) %>
    </span>
    / <%= plan.display_interval %>
  </div>
</div> 
