<% title  "Building Access" %>

<%= wide_card do %>
  <h4 class="display-4 text-center">Building Access</h4>

  <%= render "operator/doors/keys", doors: @doors %>
  <%= link_to "Manage doors", doors_path, class: "btn btn-block btn-primary" %>
<% end %>

