<div class="row">
  <div class="col-lg-1"></div>
  <div class="col-lg-10">
    <div class="card">
      <div class="card-body">
        <h1>Privacy Policy</h1>
        
        <p>Zen Space Labs, Inc. ("Zen Space Labs, Inc.", "Jellyswitch", “we”, “us” or “our”) is committed to protecting our users' privacy. This statement is meant to inform our users of how we define, gather and utilize personally identifiable information. We will take reasonable steps to protect user privacy consistent within the guidelines set forth in this policy and the law. By using this site, you consent to the following privacy policy.</p>

        <p>This policy was last modified on February 21, 2019.</p>

        <h3>Personal Information</h3>

        <p>User information is collected when filling out a form, processing an order, or signing in through a third party service. At no point is your credit card information stored on this site or handled by us directly.</p>

        <p>Cookies are used to store information about your current session and other preferences. This information may be used to track user progress and to offer a more personalized experience. Cookies can be disabled or cleared in your web browser settings.</p>

        <h3>Third Parties</h3>

        <p>We do not sell, trade, or otherwise transfer user information to outside parties. This does not include trusted third parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others rights, property, or safety. However, non-identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.</p>

        <p>Any linked, third party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites.</p>

      </div>
    </div>
  </div>
  <div class="col-lg-1"></div>
</div>
