<section class="fdb-block" style="background-image: url(https://www.jellyswitch.com/wp-content/uploads/2019/12/Group-812.svg);" data-block-type="forms" data-id="1" draggable="true">
<!-- <section class="fdb-block" style="background-image: url(https://cdn.jsdelivr.net/gh/froala/design-blocks@2.0.1/dist/imgs//shapes/1.svg);" data-block-type="forms" data-id="1" draggable="true">-->
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-12 col-md-9 col-lg-8">
        <div class="fdb-box fdb-touch" style="border-top: none;">
          <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
              <h1><%= title %></h1>
              <p class="lead">
                <%= body %>
              </p>
            </div>
          </div>
          <div class="row justify-content-center mt-4">
            <div class="col-12 col-lg-10">
              <%= content %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
