<div class="row">

  <div class="col text-center align-middle">
    <a href="<%= operator.ios_url %>">
      <img alt="Get it on the app store" src="https://linkmaker.itunes.apple.com/en-us/badge-lrg.svg?releaseDate=2019-03-26&kind=iossoftware&bubble=ios_apps" width=135 height=40>
    </a>
  </div>

  <div class="col text-center align-middle" style="margin-top: -10px;">
    <a href="<%= operator.android_url %>">
      <img alt='Get it on Google Play' src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png" height=60>
    </a>
  </div>

</div>