<div class="row">
  <div class="col">
    <p class="lead">You must enable Billing & Payments to access this feature.</p>
    <%= link_to "Learn more", modules_path, class: "btn btn-block btn-primary" %>
  </div>
</div>