<div>
  <%- feed_item.feed_item_comments.each do |comment| %>
    <%= render "operator/feed_items/comment", feed_item_comment: comment %>
  <%- end %>

  <%= form_with(model: feed_item.feed_item_comments.new, url: feed_item_comments_path(feed_item, subdomain: current_tenant.subdomain), remote: true) do |f| %>
    <div class="row mt-4">
      <div class="col">
        <%= f.text_area :comment, class: "form-control", placeholder: "Write a comment" %>
      </div>
    </div>

    <div class="row mt-1">
      <div class="col">
        <%=  f.submit "Add a note", class: "btn btn-block btn-info" %>
      </div>
    </div>
  <%- end %>
</div>
