<div class="row mt-3">
  <div class="col-sm-3"></div>
  <div class="col-sm">
    <div class="jumbotron bg-white pb-2 pt-2 text-center">
      <h4 class="display-4 text-center mt-4">Check your email!</h4>
      <p class="lead">
        We've sent you a link to get started with your Jellyswitch demo.
      </p>
      <p>
        <small>(It should arrive within 5 minutes.)</small>
      </p>
    </div>
  </div>
  <div class="col-sm-3"></div>
</div>
