<div class="row mt-3">
  <div class="col-sm-4"></div>
  <div class="col-sm">
    <div class="jumbotron bg-white pb-2 pt-2">
      <% if doors.count > 0 %>
        <% doors.each do |door| %>
          <%= link_to "Open #{door.name}", door_open_path(door), class: "btn btn-info btn-lg w-100 mt-2 mb-2", data: {"turbolinks-action" => "restore"} %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-sm-4"></div>
</div>
