<%- if admin? %>
  <a class="list-group-item list-group-item-action" href="<%= user_path(user) %>">
<%- else %>
  <li class="list-group-item">
<%- end %>

  <div class="row mb-2 mt-2">
    <div class="col-2">
      <%= render "shared/small_profile_photo", user: user %>
    </div>
    <div class="col">
      <p class="mb-1 pt-2">
        <%= user.name %>
        <% if policy(:payment).enabled? %>
          <% if user.member_at_operator?(current_tenant) %>
            <% if user.has_active_subscription? %>
              <span class="badge badge-success">Member</span>
            <% end %>

            <% if user.has_active_day_pass? %>
              <span class="badge badge-primary">Day Pass</span>
            <% end %>

            <% if user.has_active_lease? %>
              <span class="badge badge-info">Office Lease</span>
            <% end %>
          <% end %>

          <% if user.pending? %>
            <span class="badge badge-warning">Pending Member</span>
          <% end %>
        <% end %>
      </p>
    </div>
    <div class="col-1">
      <i class="fas fa-chevron-right"></i>
    </div>
  </div>
<% if admin? %>
  </a>
<% else %>
  </li>
<% end %>