<% title "Add Member" %>

<div class="row mt-3">
  <div class="col-sm-3"></div>
  <div class="col-sm">
    <div class="jumbotron bg-white pb-2 pt-2">
      <h1 class="text-center mb-5 mt-5">Add Member</h1>
      <%= render "admin_edit_form", user: @user, url: users_path %>
    </div>
  </div>
  <div class="col-sm-3"></div>
</div>

