<% title "Change Password" %>

<%= breadcrumb do %>
  <li class="breadcrumb-item"><%= link_to "My Account", user_path(@user) %></li>
  <li class="breadcrumb-item">Change Password</li>
<% end %>

<%= wide_card do %>
  <h4 class="display-4 text-cente">Change Password</h4>

  <%= render "password_form", label: "Update my password" %>
<% end %>
