<div class="col col pr-0 pl-4">
  <div id="card-element" class="form-control row">
    <!-- a Stripe Element will be inserted here. -->
  </div>
  <div id="card-errors" role="alert" class="row"></div>
</div>
<input type="hidden" value="<%= form_authenticity_token %>"name="authenticity_token"/>
