<div class="card border-light">
  <div class="card-body">
    <h5 class="card-title">
      F.A.Q.
    </h5>
    <p class="card-text">
      <dl class="row">
        <dt class="col-sm-6">What if someone's knocking on the door?</dt>
        <dd class="col-sm-6">People occasionally knock on the door in an attempt to find the Tahoe Tribune (whose building we now occupy). Please <strong>do not let them in</strong>. We will be updating our lobby door to be more explicit about the building being locked in an effort to help those folks.</dd>
      </dl>
    </p>
  </div>
</div>