

<div class="card border-light">
  <div class="card-body">
    <h5 class="card-title">
      Download the mobile app
    </h5>
    <p class="card-text">
      <div class="row">
        <div class="col-1"></div>
        <div class="col">
          <a href="https://itunes.apple.com/us/app/cowork-tahoe-the-lab/id1457603889?mt=8" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/en-us/badge-lrg.svg?releaseDate=2019-03-26&kind=iossoftware&bubble=ios_apps) no-repeat;width:135px;height:40px;"></a>
        </div>
        <div class="col-1"></div>
      </div>

      <div class="row">
        <div class="col-1"></div>
        <div class="col">
          <a href='https://play.google.com/store/apps/details?id=com.jellyswitch.coworktahoe&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png' style="width: 135px;"/></a>
        </div>
        <div class="col-1"></div>
      </div>
    </p>
  </div>
</div>