<h5 class="card-title">
  Internet access
</h5>
<p class="card-text">
  Please use the following credentials to access the internet:
  <dl class="row">
    <dt class="col-sm-6">Wifi network name</dt>
    <dd class="col-sm-6"><pre><%= current_location.wifi_name %></pre></dd>

    <dt class="col-sm-6">Password</dt>
    <dd class="col-sm-6"><pre><%= current_location.wifi_password %></pre></dd>
  </dl>
</p>
