<%= form_with(model: post_reply, url: post_replies_path, remote: true) do |f| %>
  <%= f.hidden_field :post_id, value: @post.id %>

  <div class="form-group">
    <%= f.rich_text_area :content, placeholder: "Add a reply" %>
  </div>

  <%= f.submit "Post Reply", class: "btn btn-primary btn-block" %>

<% end %>