<% title "Edit #{@office.name}" %>

<div class="row mt-3">
  <div class="col-3"></div>
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to "Offices", offices_path %></li>
        <li class="breadcrumb-item"><%= link_to @office.name, @office %></li>
        <li class="breadcrumb-item active">Edit</li>
      </ol>
    </nav>
  </div>
  <div class="col-3"></div>
</div>

<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm">
    <div class="jumbotron bg-white pb-2 pt-2">
      <h4 class="display-4 text-center mt-4">Edit Office</h4>
      <%= render "form", label: "Update" %>
      <div class="row mt-3">
        <div class="col-12">
          <% if !ios_request? %>
            <%= link_to "Cancel", @office, class: "btn btn-block btn-warning", data: {"turbolinks-action" => "replace"} %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3"></div>
</div>
