<%= form_for(:user, url: organization_add_member_path(organization), remote: true, html: { class: 'form' }) do |f| %>
  <div class="form-group">
    <%= f.select :ids, add_member_options(organization), {}, { multiple: true, class: "form-control add-members-select" } %>
  </div>
  <div class="form-group">
    <%= f.submit "Add selected members", class: "form-control btn btn-primary" %>
  </div>
<% end %>
