<%- title "New Group" %>

<div class="row mt-3">
  <div class="col-sm-3"></div>
  <div class="col-sm">
    <div class="jumbotron bg-white pb-2 pt-2">
      <h4 class="display-4 text-center mt-4">New Group</h4>
      <%= render "form", label: "Create" %>
    </div>
  </div>
  <div class="col-sm-3"></div>
</div>
