<% title "Onboarding" %>


<section class="fdb-block" data-block-type="contents" data-id="1" draggable="true">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-12 col-lg-6 col-xl-5">
        <h1>Setting up your feed</h1>
        <p class="lead mb-4">Which of these tasks do you perform every day?</p>

        <p><strong>Select any and all that apply:</strong></p>
        <p class="h1 text-muted">
          <%= form_with(url: create_daily_tasks_onboarding_index_path, method: :post, remote: true) do |f| %>
            <% @tasks.each do |task| %>
              <div class="form-check">
                <%= f.check_box task.first, class: "form-check-input" %>
                <%= f.label task.first, task.last, class: "form-check-label" %>  
              </div>
            <% end %>

            <div class="form-group row m-0 mt-3 p-0">
              <button class="form-control btn btn-primary col" id="submit" data-disable-with="Thinking...">
                Next
              </button>
            </div>
          <% end %>
        </p>
      </div>
      <div class="col-12 col-md-8 m-auto ml-lg-auto mr-lg-0 col-lg-6 pt-5 pt-lg-0">
        <img alt="image" class="img-fluid" src="https://cdn.jsdelivr.net/gh/froala/design-blocks@2.0.1/dist/imgs//draws/browsers.svg">
      </div>
    </div>
  </div>
</section>
