<% title "Sign Up" %>

<%= render(Layout::Freola::ColorfulBackgroundCard, title: "Sign Up", body: "Enter your email address to get started!") do %>
  <%= form_with(url: create_user_onboarding_index_path, method: :post, remote: true) do |f| %>
    <div class="input-group">
      <%= f.text_field :email, placeholder: "Enter your email address", class: "form-control" %>
      <div class="input-group-append">
        <%= f.submit "Begin onboarding", class: "btn btn-primary", data: {disable_with: "Starting..."} %>
      </div>
    </div>
  <% end %>
<% end %>