<% title "Add Room" %>

<%= breadcrumb do %>
  <li class="breadcrumb-item"><%= link_to "Onboarding", new_operator_onboarding_path %></li>
  <li class="breadcrumb-item active" aria-current="page">Add Room</li>
<% end %>

<%= wide_card do %>
  <h4 class="display-4 text-center mt-4">Add Room</h4>

  <%= render "operator/rooms/form", room: @room, url: create_room_operator_onboarding_index_path %>
<% end %>