<% title "Add Day Pass Type" %>

<%= breadcrumb do %>
  <li class="breadcrumb-item"><%= link_to "Onboarding", new_operator_onboarding_path %></li>
  <li class="breadcrumb-item active" aria-current="page">Add Day Pass Type</li>
<% end %>

<%= wide_card do %>
  <h4 class="display-4 text-center mt-4">New Day Pass Type</h4>

  <%= render "operator/day_pass_types/form", day_pass_type: @day_pass_type, url: create_day_pass_type_operator_onboarding_index_path %>
<% end %>